/*Diferetes formas de cambiar el color 
h1{color: red;}
h2{color: green;}
p{color:blue}
*/

#titulo{
	color:red;
	text-align: center;
	font-style:oblique;
	font-weight: bold;
}
#subtitulo{
	color:green;
	font-style:oblique;
}
.parrafo{
	color:blue;
	font-style:oblique;
}