
#titulo{
	color:red;
	text-align: center;
	font-style:oblique;
	font-weight: bold;
}
#subtitulo{
	color:green;
	font-style:oblique;
}
.parrafo{
	color:blue;
	font-style:oblique;
}
span p:first-child {color:red;}
span p:last-child {color:blue;}
span p:nth-child(4) {color: green;}
.pink:hover {color:pink}

#box{
	width: :800px; /*ancho del elemento o caja */
	background:cyan; /*color de fondo*/ 
}
 .inline, .block{
	color: :white;
	margin: :10px;
	padding: :10px;
	background:purple;
	border: 3px solid green;
}
.block{
	background:red;
	text-align: center;
}