/*Diferetes formas de cambiar el color 
h1{color: red;}
h2{color: green;}
p{color:blue}
*/

#titulo{
	color:red;
	text-align: center;
	font-style:oblique;
	font-weight: bold;
}
#subtitulo{
	color:green;
	font-style:oblique;
}
.parrafo{
	color:blue;
	font-style:oblique;
}
span p:first-child {color:red;}
span p:last-child {color:blue;}
span p:nth-child(4) {color: green;}
.pink:hover {color:pink}

/* first child, last child y nth child nos ayudan a escoger el parrafo ya sea
primero, ultimo o bien con nth escoger el parrafo que requerimos 
 */